{{#daterange-form-item}}
    <div class="{{#formItemClasses}}{{formItemClasses}} {{/formItemClasses}}c-form-item c-datepicker-range{{#formItemClasses1}} {{formItemClasses1}}{{/formItemClasses1}}">
		{{#datepicker-form-items}}
			{{> atoms-label}}
			{{> atoms-datepicker}}
		{{/datepicker-form-items}}
    </div>
{{/daterange-form-item}}
