{{#link-list-horizontal}}
    <ul class="u-unlist o-list o-child-line">
		{{#list-items}}
            <li>
				{{> atoms-anchor-primary }}
            </li>
		{{/list-items}}
    </ul>
{{/link-list-horizontal}}
