{{#wizard-link-list}}
    <ul class="{{#wizardLinkListClasses}}{{wizardLinkListClasses}} {{/wizardLinkListClasses}}u-list c-link-list{{#wizardLinkListClasses1}} {{wizardLinkListClasses1}}{{/wizardLinkListClasses1}}">
		{{#list-items}}
            <li>
				{{> atoms-anchor-primary}}
            </li>
		{{/list-items}}
    </ul>
{{/wizard-link-list}}
