{{#pagination-list}}
    <ul class="{{#paginationListClasses}}{{paginationListClasses}} {{/paginationListClasses}}u-unlist u-a-c o-list o-child-line u-space-children-sm c-pagination{{#paginationListClasses1}} {{paginationListClasses1}}{{/paginationListClasses1}}">
		{{#list-items}}
            <li>
				{{> atoms-anchor-primary-default}}
            </li>
		{{/list-items}}
    </ul>
{{/pagination-list}}
