{{#image-story-list}}
    <ul class="{{#imageStoryListClasses}}{{imageStoryListClasses}} {{/imageStoryListClasses}}o-sections-lg@small u-a-c o-tabular@large o-tabular@large--full u-unlist c-image-story@large{{#imageStoryListClasses1}} {{imageStoryListClasses1}}{{/imageStoryListClasses1}}">
		{{#list-items}}
            <li class="o-tabular@large__cell u-space-3@large o-sections-lg@small__section c-image-story@large">
				{{> atoms-image-with-content}}
            </li>
		{{/list-items}}
    </ul>
{{/image-story-list}}
