{{#timeline-list}}
    <ul class="{{#imageStoryListClasses}}{{imageStoryListClasses}} {{/imageStoryListClasses}}o-sections-lg@small u-a-c o-tabular@large o-tabular@large--full u-unlist c-image-story@large c-timeline-alt@small c-timeline@large{{#imageStoryListClasses1}} {{imageStoryListClasses1}}{{/imageStoryListClasses1}}">
		{{#list-items}}
            <li class="o-tabular@large__cell u-space-3@large o-sections-lg@small__section c-image-story@large c-timeline-alt@small__item c-timeline@large__item">
				{{> atoms-image-with-content }}
            </li>
		{{/list-items}}
    </ul>
{{/timeline-list}}
