<p class="u-a-l">
	Align left
</p>

<p class="u-a-c">
	Align center
</p>

<p class="u-a-r">
	Align right
</p>

<p class="u-emphasize">
	Uppercase
</p>

<p class="u-strong">
	Bold text
</p>

<p class="u-italic">
	Italic text
</p>
