<div class="u-clear-after">
	<div class="f-l">
		Left
	</div>

	<div class="f-r">
		Right
	</div>
</div>

<div class="u-f-l-children">
	<div>
		Left
	</div>

	<div>
		Left
	</div>
</div>

<div class="u-f-l-children">
	<span>
		Left
	</span>

	<div>
		Left
	</div>
</div>

<ul class="c-unlist o-child-line u-f-l-children">
	<li>
		Left
	</li>

	<li>
		Left
	</li>
</ul>

<div class="u-clear-after">
	<div class="u-f-l">
		Left
	</div>

	<div class="u-f-r">
		Right
	</div>
</div>

<div class="u-f-r-children">
	<div>
		Right
	</div>

	<div>
		Right
	</div>
</div>

<div class="u-f-r-children">
	<span>
		Right
	</span>

	<div>
		Right
	</div>
</div>

<ul class="c-unlist o-child-line u-f-r-children">
	<li>
		Right
	</li>

	<li>
		Right
	</li>
</ul>
