<p class="t-cl-base">
	Base color
</p>

<p class="t-cl-light">
	Light color
</p>

<p class="t-cl-dark">
	Dark color
</p>

<p class="t-cl-primary">
	Primary color
</p>

<p class="t-cl-secondary">
	Secondary color
</p>

<p class="t-bg-base">
	Base background
</p>

<p class="t-bg-light">
	Light background
</p>

<p class="t-bg-dark">
	Dark background
</p>

<p class="t-bg-primary">
	Primary background
</p>

<p class="t-bg-secondary">
	Secondary background
</p>
