{{#button}}
    <button class="u-emphasize c-title u-fs-4 c-button c-button--base c-button--primary{{#buttonClasses}} {{buttonClasses}}{{/buttonClasses}}">
		<span>
			{{text}}
		</span>
    </button>
{{/button}}
