{{#button}}
    <button class="u-emphasize c-title u-fs-4 c-button c-button--base c-button--tertiary c-button--size-1{{#buttonClasses}} {{buttonClasses}}{{/buttonClasses}}">
		<span>
			{{text}}
        </span>
    </button>
{{/button}}
