{{#anchor}}
    <a class="c-anchor c-anchor--cta-alt c-anchor--primary{{#anchorClasses}} {{anchorClasses}}{{/anchorClasses}}" href="{{href}}" {{#title}}title="{{title}}"{{/title}}>
        <span>{{text}}</span>
    </a>
{{/anchor}}
