{{#anchor}}
    <a class="{{#anchorClasses}}{{anchorClasses}} {{/anchorClasses}}c-anchor c-anchor--primary{{#anchorClasses1}} {{anchorClasses1}}{{/anchorClasses1}}" href="{{href}}" {{#title}}title="{{title}}"{{/title}}>
		{{text}}
    </a>
{{/anchor}}
