{{#anchor}}
    <a class="c-anchor c-anchor--default c-anchor--secondary{{#anchorClasses}} {{anchorClasses}}{{/anchorClasses}}" href="{{href}}" {{#title}}title="{{title}}"{{/title}}>
		{{text}}
    </a>
{{/anchor}}
