{{#anchor}}
    <a class="u-glyph-before c-anchor c-anchor--secondary{{#anchorClasses}} {{anchorClasses}}{{/anchorClasses}}" data-icon="{{glyph}}" href="{{href}}" {{#title}}title="{{title}}"{{/title}}>
        <span{{#anchorExtraClasses}} class="{{anchorExtraClasses}}"{{/anchorExtraClasses}}>{{text}}</span>
    </a>
{{/anchor}}
