{{#menu-button}}
    <button class="{{#menuButtonClasses}}{{menuButtonClasses}} {{/menuButtonClasses}}u-glyph-before c-button c-button--default c-icon-btn c-icon-btn--size-2 c-icon-btn--clear c-menu-btn{{#menuButtonClasses1}} {{menuButtonClasses1}}{{/menuButtonClasses1}}" data-open="{{showMenu}}">
		<span class="u-vis-0">
			{{text}}
        </span>
    </button>
{{/menu-button}}
