{{#nav-cta}}
	<a class="{{#navCtaClasses}}{{navCtaClasses}} {{/navCtaClasses}}c-anchor c-nav-cta{{#navCtaClasses1}} {{navCtaClasses1}}{{/navCtaClasses1}}{{#isActive}} c-nav-cta--active{{/isActive}}" href="#"{{#title}} title="{{title}}"{{/title}}>
		<span class="c-nav-cta__inner">
			{{{text}}}
		</span>
	</a>
{{/nav-cta}}
