{{#inner-page-cta}}
	<a class="{{#innerPageCtaClasses}}{{innerPageCtaClasses}} {{/innerPageCtaClasses}}u-dis-b u-space-1-3-sm u-space-2-4-fixed c-nav-cta c-nav-cta--page c-page-nav{{#innerPageCtaClasses1}} {{innerPageCtaClasses1}}{{/innerPageCtaClasses1}}{{#isActive}} c-page-nav--active{{/isActive}} c-button c-button--default" href="#"{{#title}} title="{{title}}"{{/title}}>
		<span class="c-nav-cta__inner">
			{{{text}}}
		</span>
	</a>
{{/inner-page-cta}}
