{{#close-button}}
    <button class="u-size-cta u-fs-4 u-a-c u-round u-a-vh-before u-glyph-before c-button c-button--animate c-button--tertiary" data-icon="x">
		<span class="u-vis-0">
			{{text}}
        </span>
    </button>
{{/close-button}}
