{{#cta-block}}
	<a class="{{#ctaBlockClasses}}{{ctaBlockClasses}} {{/ctaBlockClasses}}c-title c-section-header u-dis-b c-button c-button--default c-button--secondary c-cta-block{{#ctaBlockClasses1}} {{ctaBlockClasses1}}{{/ctaBlockClasses1}}" href="{{href}}" {{#title}}title="{{title}}"{{/title}}>
		<span class="u-space-children u-space-sm o-flag o-flag--full">
			<span class="u-va-t u-width-1@small u-width-1@small u-width-2@large o-flag__item c-cta-block__asset">
				{{> atoms-media-image-small}}
			</span>
			<span class="u-lh-1 u-va-m o-flag__item c-cta-block__content">
				<span>
					{{text}}
				</span>
				<i class="u-gutt-4 u-dis-b u-fs-4">
					{{text2}}
				</i>
			</span>
		</span>
	</a>
{{/cta-block}}
