<div class="o-container">
	<div class="o-container__wrap-alt">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis fugiat, beatae, dicta necessitatibus dolore aut sit eos dolorem quaerat, laborum modi veritatis? Tenetur dolores minima explicabo iusto, enim nobis aliquid suscipit nisi quis optio, rem amet praesentium, sequi dolorem alias!
	</div>
</div>
