<div class="o-media">

	<div class="o-media__asset">
		<img src="http://placehold.it/50x50" alt="Placeholder image" />
	</div>

	<div class="o-media__main">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, deserunt.
		</p>
	</div>

</div>
