<div class="o-flag{{#showSpacing}} u-space-children-4{{/showSpacing}} {{classes}}">

	<div class="o-flag__item u-va-t">
		<img src="http://placehold.it/50x50" alt="Placeholder image" />
	</div>

	<div class="o-flag__item{{#va-alignment}} {{alignment}}{{/va-alignment}}{{^va-alignment}} u-va-t{{/va-alignment}}">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		</p>
	</div>

</div>
