<div class="o-flag">

	<div class="o-flag__item u-va-t">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		</p>
	</div>

	<div class="o-flag__item u-va-t">
		<img src="http://placehold.it/50x50" alt="Placeholder image" />
	</div>

</div>
