@font-face {
    font-family: 'ads';
    src:    url('fonts/ads.eot?puati6');
    src:    url('fonts/ads.eot?puati6#iefix') format('embedded-opentype'),
        url('fonts/ads.woff2?puati6') format('woff2'),
        url('fonts/ads.ttf?puati6') format('truetype'),
        url('fonts/ads.woff?puati6') format('woff'),
        url('fonts/ads.svg?puati6#ads') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ads' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-down-arrow2:before {
    content: "\77";
}
.icon-left-arrow2:before {
    content: "\32";
}
.icon-right-arrow2:before {
    content: "\40";
}
.icon-up-arrow2:before {
    content: "\5f";
}
.icon-dollar-circle:before {
    content: "\24";
}
.icon-red-minus:before {
    content: "\60";
}
.icon-red-plus:before {
    content: "\45";
}
.icon-down-arrow:before {
    content: "\76";
}
.icon-left-arrow:before {
    content: "\3c";
}
.icon-right-arrow:before {
    content: "\3e";
}
.icon-up-arrow:before {
    content: "\5e";
}
.icon-Arrowleft:before {
    content: "\28";
}
.icon-Arrowright:before {
    content: "\29";
}
.icon-info2:before {
    content: "\6a";
}
.icon-calendar2:before {
    content: "\44";
}
.icon-info:before {
    content: "\69";
}
.icon-calendar:before {
    content: "\43";
}
.icon-mail2:before {
    content: "\6e";
}
.icon-history2:before {
    content: "\49";
}
.icon-mail:before {
    content: "\6d";
}
.icon-history:before {
    content: "\48";
}
.icon-arrow-long-right2:before {
    content: "\2014";
}
.icon-arrow-long-left2:before {
    content: "\7f";
}
.icon-arrow-long-right:before {
    content: "\2013";
}
.icon-arrow-long-left:before {
    content: "\7e";
}
.icon-help:before {
    content: "\3f";
}
.icon-plus2:before {
    content: "\2c";
}
.icon-minus2:before {
    content: "\2e";
}
.icon-profile2:before {
    content: "\71";
}
.icon-user2:before {
    content: "\51";
}
.icon-switch2:before {
    content: "\74";
}
.icon-plus:before {
    content: "\2b";
}
.icon-minus:before {
    content: "\2d";
}
.icon-profile:before {
    content: "\70";
}
.icon-user:before {
    content: "\50";
}
.icon-switch:before {
    content: "\73";
}
.icon-search2:before {
    content: "\54";
}
.icon-home2:before {
    content: "\6b";
}
.icon-bars2:before {
    content: "\41";
}
.icon-check2:before {
    content: "\59";
}
.icon-close2:before {
    content: "\79";
}
.icon-remove2:before {
    content: "\79";
}
.icon-times2:before {
    content: "\79";
}
.icon-sort2:before {
    content: "\7d";
}
.icon-unsorted2:before {
    content: "\7d";
}
.icon-feed2:before {
    content: "\55";
}
.icon-edit2:before {
    content: "\25";
}
.icon-map-marker2:before {
    content: "\4d";
}
.icon-search:before {
    content: "\53";
}
.icon-home:before {
    content: "\68";
}
.icon-bars:before {
    content: "\3d";
}
.icon-check:before {
    content: "\58";
}
.icon-close:before {
    content: "\78";
}
.icon-remove:before {
    content: "\78";
}
.icon-times:before {
    content: "\78";
}
.icon-sort:before {
    content: "\7c";
}
.icon-unsorted:before {
    content: "\7c";
}
.icon-feed:before {
    content: "\52";
}
.icon-edit:before {
    content: "\65";
}
.icon-map-marker:before {
    content: "\4c";
}

