{{#site-footer}}
    <div class="t-0@large t-1@small u-a-c o-container u-gutt-1@small u-space-1-sm@small u-space-3-lg@small" id="footer">
        <div class="o-container-full o-sections c-global-footer">
            <nav class="t-1 o-sections__section">
				{{> molecules-extended-nav}}
            </nav>
            <footer class="o-sections__section c-global-footer__item c-global-footer__item--details">
                <p class="u-fs-6">
					{{{i18n_copyright}}}
                </p>
            </footer>
        </div>
    </div>
{{/site-footer}}
