{{#content-block}}
    <div class="{{#contentBlockClasses}}{{contentBlockClasses}} {{/contentBlockClasses}}t-1 u-zone-space o-sections c-content-block{{#contentBlockClasses1}} {{contentBlockClasses1}}{{/contentBlockClasses1}}">
        <div class="o-sections__section c-content-block__header">
			{{> atoms-section-header }}
        </div>
        <div class="o-sections__section c-content-block__main">
			{{> atoms-paragraph }}
        </div>
        <div class="u-a-r o-sections__section c-content-block__footer">
			{{> atoms-button-primary-size-1}}
        </div>
    </div>
{{/content-block}}
