<div class="o-container-global">
	{{> organisms-site-header-authenticated}}
    <div class="t-2@large c-page" id="main"{{#page-name}} data-pagename="{{page-name}}"{{/page-name}}>
		{{> molecules-inner-page-nav}}
        <div class="u-bg-img u-bg-img--large c-image-feature@large c-image-feature@large--style-1 c-image-feature@large--size-1 t-0@small o-container c-page__content c-image-feature__content">
            <div class="u-space-1@large u-space-3-lg@large u-space-1-3-sm@small o-container__wrap">
                <div class="o-sections">
                    <div class="o-sections__section t-alpha@large u-shadow@large t-1@small u-zone-space o-sections o-media__main c-content-block">
                        <div class="o-sections__section c-content-block__main">
							{{#form}}
                                <form action="{{action}}" class="c-content-block c-form-block c-form"{{#id}} id="{{id}}"{{/id}} method="{{method}}">
                                    <div class="c-form-block c-content-block">
                                        <div class="c-content-block__main c-form-block__main">
                                            <div class="c-form-block__row">
												{{#fieldset}}
                                                    <fieldset class="c-content-block c-fieldset c-form-block__row">
														{{#legend}}
                                                            <legend class="c-content-block__header c-content-block c-legend c-form-block__header">
																	<span class="u-dis-b o-sections c-content-block__header">
																		{{> atoms-section-header }}
																		{{> atoms-article-header }}
																	</span>
																	<span class="u-dis-b u-space-3 o-sections c-content-block__main">
																		<span class="u-dis-b o-sections__section">
																			{{{text}}}
                                                                        </span>
																	</span>
                                                            </legend>
														{{/legend}}
                                                        <div class="o-sections c-content-block__main">
                                                            <div class="o-sections__section o-sections@small">
                                                                <div class="o-sections@small__section o-flex@large u-size-1@large c-form-block__row">
																	{{#department-form-item}}
																		{{> molecules-select-tooltip-form-item}}
																	{{/department-form-item}}
																	{{#planner-code-form-item}}
																		{{> molecules-select-tooltip-form-item}}
																	{{/planner-code-form-item}}
																	{{#blend-spec-form-item}}
																		{{> molecules-select-tooltip-form-item}}
																	{{/blend-spec-form-item}}
                                                                </div>
                                                                <div class="o-sections@small__section o-flex@large u-size-1@large c-form-block__row">
																	{{#minimum-blend-size-form-item}}
																		{{> molecules-select-tooltip-form-item}}
																	{{/minimum-blend-size-form-item}}
																	{{#number-of-components-form-item}}
																		{{> molecules-select-tooltip-form-item}}
																	{{/number-of-components-form-item}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
												{{/fieldset}}
                                            </div>
                                        </div>
                                    </div>
									{{#cta}}
                                        <div class="u-a-r@large c-content-block__footer c-form-block__footer">
											{{> atoms-button-primary-size-1}}
                                        </div>
									{{/cta}}
                                </form>
								{{#disclosure}}
                                    <div class="u-space-1 u-fs-6 c-form-disclaimer">
										{{> atoms-paragraph}}
                                    </div>
								{{/disclosure}}
							{{/form}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	{{> organisms-site-footer}}
</div>

<style type="text/css">
    @media screen and (min-width: 47.75rem) {
        .c-image-feature:before, .c-image-feature\@large:before {
            background-image: url({{background-image-src}})
        }
    }

    @media screen and (max-width: 47.75rem) {
        .c-image-feature:before, .c-image-feature\@small:before {
            background-image: url({{background-image-src}})
        }
    }
</style>
