<!--DO NOT REMOVE-->
{% pattern-lab-foot %}

<script src="../../js/jquery.js"></script>
<script src="../../js/jquery.mask.js"></script>
<script src="../../js/enquire.js"></script>
<script src="../../js/moment.js"></script>
<script src="../../js/pikaday.js"></script>
<script src="../../js/jquery.magnific-popup.js"></script>
<script src="../../js/autogrow.js"></script>

<script src="../../js/AdsGlobal.js"></script>
<script src="../../js/AdsToggleState-module.js"></script>

<script src="../../js/AdsCharts-module.js"></script>
<script src="../../js/AdsFormFunctions-module.js"></script>
<script src="../../js/AdsCheckboxToggleSection-module.js"></script>
<script src="../../js/AdsModal-module.js"></script>
<script src="../../js/AdsPageWizard-module.js"></script>

<script src="../../js/pattern-lab-demo.js"></script>

</body>
</html>
