{{#page-header}}
    <{{#tag}}{{tag}}{{/tag}}{{^tag}}h1{{/tag}} class="{{#pageHeaderClasses}}{{pageHeaderClasses}} {{/pageHeaderClasses}}c-title c-page-header{{#pageHeaderClasses1}} {{pageHeaderClasses1}}{{/pageHeaderClasses1}}">
		<span>
			{{text}}
        </span>
    </{{#tag}}{{tag}}{{/tag}}{{^tag}}h1{{/tag}}>
{{/page-header}}
