{{#page-subheader}}
    <{{#tag}}{{tag}}{{/tag}}{{^tag}}h2{{/tag}} class="{{#pageSubHeaderClasses}}{{pageSubHeaderClasses}} {{/pageSubHeaderClasses}}c-title c-page-subheader{{#pageSubHeaderClasses1}} {{pageSubHeaderClasses1}}{{/pageSubHeaderClasses1}}">
		<span>
			{{text}}
        </span>
    </{{#tag}}{{tag}}{{/tag}}{{^tag}}h2{{/tag}}>
{{/page-subheader}}

