{{#article-header}}
    <{{#tag}}{{tag}}{{/tag}}{{^tag}}h4{{/tag}} class="{{#articleHeaderClasses}}{{articleHeaderClasses}} {{/articleHeaderClasses}}c-title c-article-header{{#articleHeaderClasses1}} {{articleHeaderClasses1}}{{/articleHeaderClasses1}}">
		<span>
			{{text}}
        </span>
    </{{#tag}}{{tag}}{{/tag}}{{^tag}}h4{{/tag}}>
{{/article-header}}
