{{#article-subheader}}
    <{{#tag}}{{tag}}{{/tag}}{{^tag}}h4{{/tag}} class="{{#articleSubHeaderClasses}}{{articleSubHeaderClasses}} {{/articleSubHeaderClasses}}c-title c-article-subheader{{#articleSubHeaderClasses1}} {{articleSubHeaderClasses1}}{{/articleSubHeaderClasses1}}">
		<span>
			{{text}}
        </span>
    </{{#tag}}{{tag}}{{/tag}}{{^tag}}h4{{/tag}}>
{{/article-subheader}}
