{{#article-section-header}}
    <{{#tag}}{{tag}}{{/tag}}{{^tag}}h4{{/tag}} class="{{#articleSectionHeaderClasses}}{{articleSectionHeaderClasses}} {{/articleSectionHeaderClasses}}u-primary-dark@small c-title c-article-header@large c-section-header@small{{#articleSectionHeaderClasses1}} {{articleSectionHeaderClasses1}}{{/articleSectionHeaderClasses1}}">
		<span>
			{{text}}
        </span>
    </{{#tag}}{{tag}}{{/tag}}{{^tag}}h4{{/tag}}>
{{/article-section-header}}
