{{#paragraph-header}}
    <{{#tag}}{{tag}}{{/tag}}{{^tag}}h4{{/tag}} class="{{#paragraphHeaderClasses}}{{paragraphHeaderClasses}} {{/paragraphHeaderClasses}}c-title c-paragraph-header{{#paragraphHeaderClasses1}} {{paragraphHeaderClasses1}}{{/paragraphHeaderClasses1}}">
		<span>
			{{text}}
        </span>
    </{{#tag}}{{tag}}{{/tag}}{{^tag}}h4{{/tag}}>
{{/paragraph-header}}
