{{#paragraph-header}}
    <a class="u-dis-b c-anchor c-anchor--primary c-title c-paragraph-header{{#paragraphHeaderClasses}} {{paragraphHeaderClasses}}{{/paragraphHeaderClasses}}" href="{{href}}" {{#title}}title="{{title}}"{{/title}}>
        <span>
			{{text}}
        </span>
    </a>
{{/paragraph-header}}

