{{#content-block}}
    <div class="{{#contentBlockClasses}}{{contentBlockClasses}} {{/contentBlockClasses}}o-sections t-1 u-zone-space c-content-block c-content-block--5{{#contentBlockClasses1}} {{contentBlockClasses1}}{{/contentBlockClasses1}}">
		{{#sections}}
            <div class="o-sections__section u-space-children-sm u-full o-media">
                <div class="o-media__asset">
					{{> atoms-media-image }}
                </div>
                <div class="o-sections o-media__main">
                    <div class="c-content-block__header">
						{{> atoms-section-header }}
                    </div>
                    <div class="c-content-block__main">
						{{> atoms-paragraph }}
                    </div>
                </div>
            </div>
		{{/sections}}
    </div>
{{/content-block}}
