{{#content-block}}
    <div class="{{#contentBlockClasses}}{{contentBlockClasses}} {{/contentBlockClasses}}t-1 u-zone-space c-content-block c-content-block--11{{#contentBlockClasses1}} {{contentBlockClasses1}}{{/contentBlockClasses1}}">
        <div class="c-content-block__header">
			{{> atoms-section-header }}
        </div>
        <div class="c-content-block__main">
            <div class="o-sections o-tabular@large o-tabular@large--full">
                <div class="o-sections o-sections@small__section u-va-t@large o-tabular@large__cell">
                    <div class="o-sections__section u-va-t@large">
						{{> atoms-paragraph }}
                    </div>
                </div>
                <div class="o-sections@small__section u-space-1-sm@small u-a-r@large u-va-t@large o-tabular@large__cell">
                    <div class="o-sections@small o-tabular@large u-space-children-sm@large">
                        <div class="o-sections@small__section o-tabular@large__cell">
                            <div class="u-space-children-sm o-flag__item">
                                <div class="o-flag__item">
									{{> atoms-circle-image }}
                                </div>
                                <div class="u-fs-5 u-lh-2 u-va-m u-space-1-3-sm@small u-space-4-sm@small u-width-3 o-flag__item">
								<span class="u-dis-ib u-space-3-tiny">
									{{text}}
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="o-sections@small__section o-tabular@large__cell">
                            <div class="u-space-children-sm o-flag__item">
                                <div class="o-flag__item">
									{{> atoms-circle-image }}
                                </div>
                                <div class="u-fs-5 u-lh-2 u-va-m u-space-1-3-sm@small u-space-4-sm@small u-width-3 o-flag__item">
								<span class="u-dis-ib u-space-3-tiny">
									{{text}}
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/content-block}}
