{{#dashboard-grid}}
    <div class="o-tabular o-tabular-bordered">
		{{#rows}}
            <div class="t-1 o-tabular-bordered__row u-size-2 o-tabular__cell">
				{{#cells}}
                    <div class="o-tabular-bordered__cell">
						{{> molecules-grid-content-block}}
                    </div>
				{{/cells}}
            </div>
		{{/rows}}
    </div>
{{/dashboard-grid}}
