{{#dashboard-grid}}
    <div class="o-sections-2-4 o-sections o-flex o-flex--grid o-flex--spaced">
		{{#rows}}
			{{#cells}}
                <div class="o-sections__section u-size-2 o-flex o-flex--stretch o-flex__cell">
					{{> molecules-grid-content-block}}
                </div>
			{{/cells}}
		{{/rows}}
    </div>
{{/dashboard-grid}}
