{{#media-object}}
    <div class="o-media">
        <div class="o-media__asset">
            <img src="{{src}}" alt="{{alt}}"/>
        </div>
        <div class="o-media__main">
            <p>
				{{text}}
            </p>
        </div>
    </div>
{{/media-object}}
