{{#flag-object}}
    <div class="o-flag{{#showSpacing}} u-space-children-4{{/showSpacing}} {{classes}}">
        <div class="o-flag__item u-va-t">
            <img src="{{src}}" alt="{{alt}}"/>
        </div>
        <div class="o-flag__item{{#va-alignment}} {{va-alignment}}{{/va-alignment}}{{^va-alignment}} u-va-t{{/va-alignment}}">
            <p>
				{{text}}
            </p>
        </div>
    </div>
{{/flag-object}}
