{{#flag-object-reverse}}
    <div class="o-flag">
        <div class="o-flag__item u-va-t">
            <p>
				{{text}}
            </p>
        </div>
        <div class="o-flag__item u-va-t">
            <img src="{{src}}" alt="{{alt}}"/>
        </div>
    </div>
{{/flag-object-reverse}}
