<div class="o-grid">

    <!-- 12 -->
    <div class="o-grid__cell u-size-1">
        <div class="u-space t-bg-primary">
            12
        </div>
    </div>

    <!-- 6/6 -->
    <div class="o-grid__cell u-size-2">
        <div class="u-space t-bg-primary">
            6
        </div>
    </div>
    <div class="o-grid__cell u-size-2">
        <div class="u-space t-bg-primary">
            6
        </div>
    </div>

    <!-- 4/4/4 -->
    <div class="o-grid__cell u-size-3">
        <div class="u-space t-bg-primary">
            4
        </div>
    </div>
    <div class="o-grid__cell u-size-3">
        <div class="u-space t-bg-primary">
            4
        </div>
    </div>
    <div class="o-grid__cell u-size-3">
        <div class="u-space t-bg-primary">
            4
        </div>
    </div>

    <!-- 3/3/3/3 -->
    <div class="o-grid__cell u-size-4">
        <div class="u-space t-bg-primary">
            3
        </div>
    </div>
    <div class="o-grid__cell u-size-4">
        <div class="u-space t-bg-primary">
            3
        </div>
    </div>
    <div class="o-grid__cell u-size-4">
        <div class="u-space t-bg-primary">
            3
        </div>
    </div>
    <div class="o-grid__cell u-size-4">
        <div class="u-space t-bg-primary">
            3
        </div>
    </div>

    <!-- 2/2/2/2/2/2 -->
    <div class="o-grid__cell u-size-6">
        <div class="u-space t-bg-primary">
            2
        </div>
    </div>
    <div class="o-grid__cell u-size-6">
        <div class="u-space t-bg-primary">
            2
        </div>
    </div>
    <div class="o-grid__cell u-size-6">
        <div class="u-space t-bg-primary">
            2
        </div>
    </div>
    <div class="o-grid__cell u-size-6">
        <div class="u-space t-bg-primary">
            2
        </div>
    </div>
    <div class="o-grid__cell u-size-6">
        <div class="u-space t-bg-primary">
            2
        </div>
    </div>
    <div class="o-grid__cell u-size-6">
        <div class="u-space t-bg-primary">
            2
        </div>
    </div>

    <!-- 1/1/1/1/1/1/1/1/1/1/1/1 -->
    <div class="o-grid__cell u-size-12">
        <div class="u-space t-bg-primary">
            1
        </div>
    </div>
    <div class="o-grid__cell u-size-12">
        <div class="u-space t-bg-primary">
            1
        </div>
    </div>
    <div class="o-grid__cell u-size-12">
        <div class="u-space t-bg-primary">
            1
        </div>
    </div>
    <div class="o-grid__cell u-size-12">
        <div class="u-space t-bg-primary">
            1
        </div>
    </div>
    <div class="o-grid__cell u-size-12">
        <div class="u-space t-bg-primary">
            1
        </div>
    </div>
    <div class="o-grid__cell u-size-12">
        <div class="u-space t-bg-primary">
            1
        </div>
    </div>
    <div class="o-grid__cell u-size-12">
        <div class="u-space t-bg-primary">
            1
        </div>
    </div>
    <div class="o-grid__cell u-size-12">
        <div class="u-space t-bg-primary">
            1
        </div>
    </div>
    <div class="o-grid__cell u-size-12">
        <div class="u-space t-bg-primary">
            1
        </div>
    </div>
    <div class="o-grid__cell u-size-12">
        <div class="u-space t-bg-primary">
            1
        </div>
    </div>
    <div class="o-grid__cell u-size-12">
        <div class="u-space t-bg-primary">
            1
        </div>
    </div>
    <div class="o-grid__cell u-size-12">
        <div class="u-space t-bg-primary">
            1
        </div>
    </div>

</div>
