{{#label}}
    <label class="{{#labelClasses}}{{labelClasses}} {{/labelClasses}}t-form-2 c-label{{#labelClasses1}} {{labelClasses1}}{{/labelClasses1}}" for="{{id}}">
		{{text}}{{#isRequired}}<span class="c-label__required">*</span>{{/isRequired}}
    </label>
{{/label}}
