{{#input-search}}
    <span class="{{#inputSearchClasses}}{{inputSearchClasses}} {{/inputSearchClasses}}u-dis-ib t-form-1 u-char-after c-input-search{{#inputSearchClasses1}} {{inputSearchClasses1}}{{/inputSearchClasses1}}">
		<input autocomplete="off" class="{{#inputSearchExtraClasses}}{{inputSearchExtraClasses}} {{/inputSearchExtraClasses}}t-form-1 c-input{{#inputSearchExtraClasses1}} {{inputSearchExtraClasses1}}{{/inputSearchExtraClasses1}}"{{#disabled}} disabled="disabled"{{/disabled}}{{#id}} id="{{id}}"{{/id}}{{#name}} name="{{name}}"{{/name}}{{^name}} name="{{id}}"{{/name}}{{#maxlength}} maxlength="{{maxlength}}"{{/maxlength}}{{#placeholder}} placeholder="{{placeholder}}"{{/placeholder}} type="{{#type}}{{type}}{{/type}}{{^type}}text{{/type}}" {{#value}} value="{{value}}"{{/value}}/>
		<button class="u-char-after__item u-char-after__item--full u-width-0 u-glyph-before c-button c-button--default c-button--secondary c-input-search__btn" {{#id}} for="{{id}}"{{/id}} data-icon="S"><span class="u-vis-0">{{tooltip}}</span></button>
	</span>
{{/input-search}}
