{{#textarea-auto-grow}}
    <textarea {{#autocompleteOff}}autocomplete="off" {{/autocompleteOff}}class="js-textarea-grow {{#textAreaClasses}}{{textAreaClasses}} {{/textAreaClasses}}t-form-1 c-textarea c-textarea--default{{#textAreaClasses1}} {{textAreaClasses1}}{{/textAreaClasses1}}"{{#disabled}} disabled="disabled"{{/disabled}}{{#id}} id="{{id}}"{{/id}}{{#name}} name="{{name}}"{{/name}}{{^name}} name="{{id}}"{{/name}}{{#placeholder}} placeholder="{{placeholder}}"{{/placeholder}}{{#rows}} rows="1"{{/rows}}/>{{#value}}{{value}}{{/value}}</textarea>
{{/textarea-auto-grow}}
