{{#datepicker}}
	<span class="{{#datePickerClasses}}{{datePickerClasses}} {{/datePickerClasses}}u-char-after c-datepicker-wrapper{{#datePickerClasses1}} {{datePickerClasses1}}{{/datePickerClasses1}}">
		<input class="{{#datePickerExtraClasses}}{{datePickerExtraClasses}} {{/datePickerExtraClasses}}t-form-1 u-full c-input c-datepicker{{#datePickerExtraClasses1}} {{datePickerExtraClasses1}}{{/datePickerExtraClasses1}}"{{#disabled}} disabled="disabled"{{/disabled}}{{#id}} id="{{id}}"{{/id}}{{#name}} name="{{name}}"{{/name}}{{^name}} name="{{id}}"{{/name}}{{#maxlength}} maxlength="{{maxlength}}"{{/maxlength}}{{#placeholder}} placeholder="{{placeholder}}"{{/placeholder}} type="{{#type}}{{type}}{{/type}}{{^type}}text{{/type}}"{{#value}} value="{{value}}"{{/value}}/>
		<label class="u-speak-none c-label u-char-after__item u-char-after__item--default c-datepicker__icon" {{#id}} for="{{id}}"{{/id}}>
			<svg class="u-dark u-va-m u-size-sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.3 39.1">
			  <g class="c-calendar-icon">
				<path class="c-calendar-icon__base" d="M28.2,26.6H26a1.54,1.54,0,0,0-1.5,1.5v2.2A1.54,1.54,0,0,0,26,31.8h2.2a1.54,1.54,0,0,0,1.5-1.5V28.1a1.54,1.54,0,0,0-1.5-1.5h0Zm-9,0H17a1.54,1.54,0,0,0-1.5,1.5v2.2A1.54,1.54,0,0,0,17,31.8h2.2a1.54,1.54,0,0,0,1.5-1.5V28.1a1.47,1.47,0,0,0-1.5-1.5h0Zm-8.9,0H8.1a1.54,1.54,0,0,0-1.5,1.5v2.2a1.54,1.54,0,0,0,1.5,1.5h2.2a1.54,1.54,0,0,0,1.5-1.5V28.1a1.54,1.54,0,0,0-1.5-1.5h0Zm8.9-8.5H17a1.54,1.54,0,0,0-1.5,1.5v2.2A1.54,1.54,0,0,0,17,23.3h2.2a1.54,1.54,0,0,0,1.5-1.5V19.6a1.47,1.47,0,0,0-1.5-1.5h0Zm-8.9,0H8.1a1.54,1.54,0,0,0-1.5,1.5v2.2a1.54,1.54,0,0,0,1.5,1.5h2.2a1.54,1.54,0,0,0,1.5-1.5V19.6a1.54,1.54,0,0,0-1.5-1.5h0ZM33.2,2.8H26.8V1.5a1.5,1.5,0,1,0-3,0V2.8H12.5V1.5a1.5,1.5,0,1,0-3,0V2.8H3a3,3,0,0,0-3,3V36.1a3,3,0,0,0,3,3H33.3a3,3,0,0,0,3-3V5.8a3.1,3.1,0,0,0-3.1-3h0ZM9.5,5.8V8.1a1.5,1.5,0,0,0,3,0V5.8H23.9V8.1a1.5,1.5,0,0,0,3,0V5.8h6.4V12H3V5.8H9.5ZM3,36V14.9H33.3V36H3Z"></path>
				<path class="u-speak-none c-calendar-icon__accent" d="M28.2,18.1H26a1.54,1.54,0,0,0-1.5,1.5v2.2A1.54,1.54,0,0,0,26,23.3h2.2a1.54,1.54,0,0,0,1.5-1.5V19.6a1.54,1.54,0,0,0-1.5-1.5h0Z"></path>
			  </g>
			</svg>
		</label>
	</span>
{{/datepicker}}
