{{#logo}}
    <a class="{{#logoClasses}}{{logoClasses}} {{/logoClasses}}c-logo c-logo--app{{#logoClasses1}} {{logoClasses1}}{{/logoClasses1}}" href="{{href}}" title="{{title}}">
        <img class="u-full c-logo__asset" src="{{src}}" alt="{{alt}}"/>
    </a>
{{/logo}}
