{{#feature-image}}
	<img alt="{{alt}}" class="{{#featureImageClasses}}{{featureImageClasses}} {{/featureImageClasses}}u-dis-b{{#featureImageClasses1}} {{featureImageClasses1}}{{/featureImageClasses1}}" src="{{src}}"/>
{{/feature-image}}
