{{#circle-image}}
    <span class="{{#circleImageClasses}}{{circleImageClasses}} {{/circleImageClasses}}t-2 u-dis-ib u-a-c c-intrinsic c-intrinsic--1x1 c-callout-image{{#circleImageClasses1}} {{circleImageClasses1}}{{/circleImageClasses1}}">
		<img class="c-intrinsic__element" src="{{src}}" alt="{{alt}}"/>
	</span>
{{/circle-image}}
