{{#media-image}}
	<span class="{{#mediaImageClasses}}{{mediaImageClasses}} {{/mediaImageClasses}}u-width-1@small u-width-3@large u-dis-b{{#mediaImageClasses1}} {{mediaImageClasses1}}{{/mediaImageClasses1}}">
		<span class="c-intrinsic c-intrinsic--1x1">
			<img alt="{{alt}}" class="{{#mediaImageExtraClasses}}{{mediaImageExtraClasses}} {{/mediaImageExtraClasses}}u-dis-b c-intrinsic__element" src="{{src}}"/>
		</span>
	</span>
{{/media-image}}
