{{#image-with-content}}
    <div class="{{#imageWithContentClasses}}{{imageWithContentClasses}} {{/imageWithContentClasses}}u-width-4-alt@large u-a-c u-dis-ib c-image-content-block{{#imageWithContentClasses1}} {{imageWithContentClasses1}}{{/imageWithContentClasses1}}">
		<div class="u-dis-ib u-width-2@small u-width-3-alt@large c-image-content-block__asset">
			<img alt="{{alt}}" class="u-full" src="{{src}}"/>
		</div>
		<div class="u-b-bold c-image-content-block__content">
			<p>
				{{text}}
			</p>
		</div>
	</div>
{{/image-with-content}}
