$font-family: 'Open Sans', 'Arial', sans-serif;
$font-family-body: $font-family;
$font-family-button: $font-family;
$base-font-size: 1rem;
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 600;
$weight-ultra: 700;

$h0: 3.2rem; // 40.125rem // 2em
$em0: 3.2em;
$rem0: $h0;

$h1: 2.625rem; // 40.125rem // 2em
$em1: 2.625em;
$rem1: $h1;

$h2: 1.375rem; // 20.125rem // 1.5em
$em2: 1.375em;
$rem2: $h2;

$h3: 1.25rem; // 18px // 1.17em
$em3: 1.25em;
$rem3: $h3;

$h4: 1rem; // 16px // 1em
$em4: 1em;
$rem4: $h4;

$h5: 0.875rem; // 14px // .83em
$em5: 0.875em;
$rem5: $h5;

$h6: 0.719rem; // 11.5px // .067em
$em6: 0.719em;
$rem6: $h6;


$font-primary: $font-family;
$font-secondary: 'Open Sans Condensed', 'Arial', sans-serif;
