
@media screen and (min-width: $bp-header) {
	.c-page-wizard > .js-page-wizard__item {
		max-width: calc(#{$max-width} - #{rem(240)});
	}

	#main {
		overflow: hidden;
		z-index: 1;
	}

	#footer {
		background-color: #FFF;
		position: relative;
		z-index: 2;
	}

	.c-full-screen-zone {
		max-width: $max-width;
	}
}

.o-flex\@large__cell {
	@media screen and (min-width: $bp-header) {
		&.u-size-1-alt-2\@large, &.u-size-1\@large, &.u-size-1 {
			flex-basis: 100%;
		}

		&.u-size-2-alt\@large {
			flex-basis: 50%;
		}
	}
}

