{{#extended-nav}}
    <ul class="{{#extendedNavClasses}}{{extendedNavClasses}} {{/extendedNavClasses}}u-unlist u-a-c@large u-divider@large u-space-children@large c-extended-menu" role="navigation">
		{{#list-items}}
            <li class="u-divider@large__child u-dis-ib@large c-extended-menu__item">
				{{> atoms-nav-footer-cta}}
            </li>
		{{/list-items}}
    </ul>
{{/extended-nav}}
