<a href="{{anchor.src}}" class="c-image-block {{classes}}" title="{{anchor.title}}">
	<span class="c-intrinsic c-intrinsic--feature t-bg-light">
		{{> atoms-feature-image("classes": "c-image-block__img c-intrinsic__element", "custom": true, "src": "https://placeimg.com/400/150/nature") }}
	</span>

	<span class="c-image-block__text-block u-gutt">
		{{> atoms-subtitle("custom": true, "type": "span", "classes": "c-image-block__text u-dis-b") }}
	</span>
</a>


