{{#form-page}}
    <div class="o-container-global">
		{{> organisms-site-header-authenticated}}
        <div class="t-2@large c-page" id="main"{{#page-name}} data-pagename="{{page-name}}"{{/page-name}}>
			{{> molecules-inner-page-navigation}}
            <div class="t-0@small o-container c-page__content">
                <div class="u-space-1@large u-space-3-lg@large u-space-1-3-sm@small o-container__wrap">
                    <div class="o-sections">
                        <div class="o-sections__section t-alpha@large u-shadow@large t-1@small u-zone-space o-sections o-media__main c-content-block">
                            <div class="o-sections__section c-content-block__header">
								{{> atoms-page-header-scalable}}
                            </div>
                            <div class="o-sections__section c-content-block__main">
								{{> organisms-form}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		{{> organisms-site-footer}}
    </div>
{{/form-page}}
