<div class="o-sections">
	<div class="o-sections__section">
		{{> atoms-subtitle("text": "Padding") }}
		<span class="u-dis-ib t-1 u-space-sm">
			Half
		</span>
		<span class="u-dis-ib t-1 u-space">
			Default
		</span>
		<span class="u-dis-ib t-1 u-space-lg">
			2x
		</span>
		{{> atoms-subtitle("text": "Padding Top") }}
		<span class="u-dis-ib t-1 u-space-1-sm">
			Half
		</span>
		<span class="u-dis-ib t-1 u-space-1">
			Default
		</span>
		<span class="u-dis-ib t-1 u-space-1-lg">
			2x
		</span>
		{{> atoms-subtitle("text": "Padding Right") }}
		<span class="u-dis-ib t-1 u-space-2-sm">
			Half
		</span>
		<span class="u-dis-ib t-1 u-space-2">
			Default
		</span>
		<span class="u-dis-ib t-1 u-space-2-lg">
			2x
		</span>
		{{> atoms-subtitle("text": "Padding Bottom") }}
		<span class="u-dis-ib t-1 u-space-3-sm">
			Half
		</span>
		<span class="u-dis-ib t-1 u-space-3">
			Default
		</span>
		<span class="u-dis-ib t-1 u-space-3-lg">
			2x
		</span>
		{{> atoms-subtitle("text": "Padding Left") }}
		<span class="u-dis-ib t-1 u-space-4-sm">
			Half
		</span>
		<span class="u-dis-ib t-1 u-space-4">
			Default
		</span>
		<span class="u-dis-ib t-1 u-space-4-lg">
			2x
		</span>
	</div>
	<div class="o-sections__section">
		{{> atoms-subtitle("text": "Margin") }}
		<span class="u-dis-ib t-1 u-gutt-sm">
			Half
		</span>
		<span class="u-dis-ib t-1 u-gutt">
			Default
		</span>
		<span class="u-dis-ib t-1 u-gutt-lg">
			2x
		</span>
		{{> atoms-subtitle("text": "Margin Top") }}
		<span class="u-dis-ib t-1 u-gutt-1-sm">
			Half
		</span>
		<span class="u-dis-ib t-1 u-gutt-1">
			Default
		</span>
		<span class="u-dis-ib t-1 u-gutt-1-lg">
			2x
		</span>
		{{> atoms-subtitle("text": "Margin Right") }}
		<span class="u-dis-ib t-1 u-gutt-2-sm">
			Half
		</span>
		<span class="u-dis-ib t-1 u-gutt-2">
			Default
		</span>
		<span class="u-dis-ib t-1 u-gutt-2-lg">
			2x
		</span>
		{{> atoms-subtitle("text": "Margin Bottom") }}
		<span class="u-dis-ib t-1 u-gutt-3-sm">
			Half
		</span>
		<span class="u-dis-ib t-1 u-gutt-3">
			Default
		</span>
		<span class="u-dis-ib t-1 u-gutt-3-lg">
			2x
		</span>
		{{> atoms-subtitle("text": "Margin Left") }}
		<span class="u-dis-ib t-1 u-gutt-4-sm">
			Half
		</span>
		<span class="u-dis-ib t-1 u-gutt-4">
			Default
		</span>
		<span class="u-dis-ib t-1 u-gutt-4-lg">
			2x
		</span>
	</div>
</div>
