{{#page-intro}}
    <div class="{{#pageIntroClasses}}{{pageIntroClasses}} {{/pageIntroClasses}}t-3 o-container c-image-feature c-image-feature--default c-image-feature--style-2 c-image-feature--size-2 c-header-image-bg{{#pageIntroClasses1}} {{pageIntroClasses1}}{{/pageIntroClasses1}}" style="background-image: url('{{background-image-url}}');">
        <div class="o-container__wrap c-image-feature__content">
            <hgroup class="u-zone-space">
				{{> atoms-page-header-scalable }}
				{{> atoms-page-subheader-scalable }}
            </hgroup>
        </div>
    </div>
{{/page-intro}}
