{{#toggle-zone}}
    <div class="c-toggle">
        <button class="js-toggle-state c-toggle__cta">
			{{text}}
        </button>
        <div class="c-toggle__content">
			{{#zones}}
                <div>
					{{> atoms-paragraph}}
                </div>
			{{/zones}}
        </div>
    </div>
{{/toggle-zone}}
